:root {
    --color-gray: #5D535E;
    --color-gray-dark: #332a34;
    --color-gray-light: #9A9EAB;
    /*yellow*/
    /* --color-primary-dark: #aaae35;
    --color-primary: #DFE166;
    --color-primary-light: #dfe166ab;
    --color-secondary: #2D1A65;
    --color-secondary-light: #9582CD; */
    --color-pink: #af4261;
    --color-pink-light: #af426167;
    --color-yellow: #f3ec78;
}

*,
*::before,
*::after {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px auto;
}

li {
    list-style: none;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

.header a {
    background: -webkit-linear-gradient(45deg, var(--color-yellow) 70%, var(--color-pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header a:hover {
    background: -webkit-linear-gradient(45deg, var(--color-pink) 70%, var(--color-yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_content a:hover {
    background-color: var(--color-yellow);
    border-radius: 3px;
    padding: 1px 0px;
}

.header {
    display: flex;
    align-items: center;
    background: linear-gradient(to top, var(--color-gray), var(--color-gray-dark));
    padding: 0px 20px 10px;
    color: whitesmoke;
}

.header_name a {
    font-size: 2em;
    font-weight: bolder;
}

.section_content {
    padding: 20px;
}

.section_content h3 {
    margin: 16px 0px;
}

.product-card {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid var(--color-gray-light);
}

.product_image {
    max-width: 300px;
}

.text-selection {
    background-color: var(--color-pink-light);
    padding: 1px 10px;
    border-radius: 3px;
}

.search-form-row {
    display: flex;
    margin-bottom: 10px;
}

.search-form-row input,
select {
    margin-right: 20px;
    width: 200px;
}

.search-form-label {
    width: 100px;
}

.button {
    border-radius: 3px;
    color: white;
    background: var(--color-pink);
    padding: 3px 15px;
}

.button:hover {
    background: -webkit-linear-gradient(45deg, var(--color-pink), var(--color-pink-light));
}

.button a {
    color: white;
}

.button a:hover {
    color: white;
    background-color: transparent;
}

.banner {
    padding: 20px 0px;
    margin: 10px;
    text-align: center;
    background-color: var(--color-gray);
    color: whitesmoke;
    width: 300px;
}