:root {
    --color-gray: #5D535E;
    --color-gray-dark: #332a34;
    --color-gray-light: #9A9EAB;
    /*yellow*/
    --color-primary-dark: #aaae35;
    --color-primary: #DFE166;
    --color-primary-light: #dfe166ab;
    --color-secondary: #2D1A65;
    --color-secondary-light: #9582CD;
}

*,
*::before,
*::after {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px auto;
}

li {
    list-style: none;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

.header a {
    color: var(--color-primary);
}

.header a:hover {
    color: var(--color-primary-dark);
}

.section_content a:hover {
    background-color: var(--color-primary-light);
    border-radius: 3px;
    padding: 1px 0px;
}

.header {
    display: flex;
    align-items: center;
    background: linear-gradient(to top, var(--color-gray), var(--color-gray-dark));
    padding: 0px 20px 10px;
}

.header_name a {
    font-size: 2em;
}

.section_content {
    padding: 20px;
}

.section_content h3 {
    margin: 16px 0px;
}

.product-card {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid var(--color-gray-light);
}

.product_image {
    max-width: 300px;
}

.text-selection {
    background-color: var(--color-secondary-light);
    padding: 3px 10px;
    border-radius: 3px;
}