:root {
    --color-gray-dark: rgb(35, 38, 50);
    --color-gray-light: rgb(64, 69, 83);
    --color-blue-light: #18b2b8;
    --color-blue: rgb(87, 132, 187);
    --color-blue-30: rgba(87, 132, 187, 0.3);
    --color-blue-dark: #245fc7;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

*,
*::before,
*::after {
    font-family: 'Montserrat-Medium', 'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px auto;
}

li {
    list-style: none;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: #000;
}

.header a {
    color: whitesmoke;
}

.header a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.header a:link {
    color: whitesmoke;
}

.section_content a:hover {
    background-color: var(--color-blue-30);
    padding: 1px 3px;
    border-radius: 3px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(to left, var(--color-blue-dark), var(--color-blue), var(--color-blue-light)); */
    background: linear-gradient(115deg, #18b2b8 5%, #245fc7 95%);
    /* background-color: var(--color-blue); */
    /* padding: 0px 20px 10px; */
    color: whitesmoke;
    padding: 30px 40px;
}

.header_name a {
    font-size: 1.6em;
    font-weight: bolder;
}

.header_login {
    font-weight: bold;
}

.header_page-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_page-nav-item {
    margin: 10px;
}

.section_content {
    padding: 20px;
}

.section_content h3 {
    margin: 16px 0px;
}

.product-card {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid var(--color-gray-light);
}

.product_image {
    max-width: 300px;
}

.another-products {
    margin-top: 50px;
}

.another-products_header {
    font-weight: bold;
    margin-bottom: 10px;
}

.text-selection {
    font-weight: bold;
    color: tomato;
}

.search-form-row {
    display: flex;
    margin-bottom: 10px;
}

.search-form-row input,
select {
    margin-right: 20px;
    width: 200px;
}

.search-form-label {
    width: 100px;
}

.button {
    border-radius: 3px;
    color: whitesmoke;
    background: var(--color-blue-light);
    padding: 5px 20px;
    font-weight: bold;
    min-width: 140px;
    outline: none;
    border: none;
}

.button:hover {
    background-color: #139971;
}

.button a {
    color: whitesmoke;
}

.button a:hover {
    color: whitesmoke;
    background-color: transparent;
}

.banners {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px;
}

.banner {
    padding: 20px 0px;
    text-align: center;
    background-color: var(--color-gray-light);
    color: whitesmoke;
    width: 32%;
}

form th {
    text-align: start;
    vertical-align: top;
}

form input,
form select {
    width: 285px;
    height: 32px;
    outline: none;
    border: none;
    padding: 0 15px;
    background-color: var(--color-blue-30);
}