{% extends "layout/default.html" %}

{% block title %}
    Продукт {{object.name}}
{% endblock %}

{% block header %}
    Купить <span class="text-selection">{{object.name}}</span>
{% endblock %}

{% block content %}
    <div>Категория: <a href="{{object.type.get_absolute_url}}">{{object.type.name}}</a></div>
    <div>Цена: {{object.price}} GP</div>

    {% if object.img %}
        <div>
            <img class="product_image" src="{{object.img.url}}">
        </div>
    {% endif %}
{% endblock %}
