{% extends "layout/default.html" %}

{% block title %}
    Миссия {{ name }}
{% endblock %}

{% block header %}
    Миссия {{ name }}
{% endblock %}

{% block content %}
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto atque eos molestias nulla repudiandae
            unde? Architecto dolor dolore dolores eligendi explicabo facere facilis hic labore magni maxime modi neque
            nobis, nostrum officiis, perferendis placeat qui quidem quo sunt unde. Animi eum, laudantium. Aspernatur aut
            earum, harum magnam soluta voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cum deserunt earum eos esse
            excepturi, explicabo fugiat illo impedit incidunt iure molestiae molestias nesciunt nihil nostrum nulla,
            obcaecati officiis perspiciatis praesentium recusandae rerum sequi soluta, tempore totam unde voluptatem
            voluptates! Debitis dolorem, expedita. Aliquid aperiam asperiores cupiditate dignissimos dolor dolorem eius
            enim error et excepturi harum illum, in laudantium magni minus molestiae molestias omnis optio perferendis,
            perspiciatis quam qui, quis quo ratione soluta unde vitae voluptas? Consequatur iure modi molestias mollitia
            numquam provident quia, rem rerum vero voluptate. Consectetur dolorum eaque eligendi eum libero non nulla
            sint vel, veniam?</p>
    </div>
{% endblock %}