{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мазагин волшебных палочек: {% block title %}{% endblock%}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
<div class="page-wrapper">
    <header class="header">
        <div>
            <div class="header_name"><a href="{% url 'index' %}">Мазагин волшебных палочек</a></div>
            <div class="header_slogan">Лучшее палочки и не только</div>
        </div>
    </header>
    <section class="section_content">
        <h3>{% block header %}{% endblock %}</h3>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </section>
</div>

</body>
</html>